<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head'); %>
  <body>
    <%- include('partials/navbar',{loggedIn:loggedIn}); %>
    <main style="height: 60vh;color:red" class="container d-flex justify-content-center align-items-center ">
        <h3>Already Deleted</h3>
    </main>
   
  </body>
</html>