<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head',{loggedIn:loggedIn}); %> 
  <body" >
    <%- include('partials/navbar'); %> 
    <div class="container">
        <main class="d-flex flex-sm-column flex-lg-row  align-items-lg-center">
            <img class="book" src="/assets/undraw_Teaching_re_g7e3.png" alt="">
            <div class="card home_card">
              <h5 class="card-header">Register School</h5>
              <div class="card-container">
                <div class="card-body">
                  <h5 class="card-title">Manage Your School with Ease</h5>
                  <p class="card-text">We provide management facility for your school. All Your student,stuff,etc.. all in one place</p>
                  <a href="/register" class="btn btn-primary">Register 
                    <img width="30px"  src="https://img.icons8.com/external-dreamstale-lineal-dreamstale/32/000000/external-right-arrow-arrows-dreamstale-lineal-dreamstale.png"/>
                  </a>
                </div>
              </div>
            </div>
        </main>
    </div>
  </body>
</html>
