<!DOCTYPE html>
<html lang="en">
  <%-include('partials/head'); %>

  <body class="panel_bg">
    <%- include('partials/navbar',{loggedIn:loggedIn}); %>
    <main
      class="container d-flex align-items-center flex-column-reverse flex-md-row justify-content-evenly"
      style="margin-top: 20px"
    >
      <div
        class="card mt-5 mt-md-0 "
        style="width: 25rem; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px"
      >
        <div class="card-body" >
          <h5 class="card-title">Manage Staffs</h5>
          <div class="list-group"  style="max-height:50vh ;overflow-y:scroll" id="staff_list">
            <!-- Student List Goes here  -->
          </div>
        </div>
      </div>
      <div >
        <!-- Global search  -->
        <form style="background-color: #fff; border-radius: 4px; border:2px solid rgb(170, 162, 162)  " id="search" class="search-bar-form">
          <button type="submit">
            <img
              src="https://img.icons8.com/ios-glyphs/30/000000/search--v1.png"
              style="
                width: 100%;
                height: 100%;
                margin-left: 3px;
                margin-right: 2px;
              "
            />
          </button>
          <input
            type="text"
            class="search-bar"
            placeholder="Search staff"
          />
        </form> 
        <button class="btn btn-outline-primary mt-3" onclick="loadAllStaffs()">ALL STAFF</button>
      </div>
    </main>
    <script>
      var staffList = JSON.parse(
        decodeURI("<%- encodeURI(JSON.stringify(staff_list)); %>")
      ); 
      console.log(staffList);
      function renderNoStaffs(){
        $("#staff_list").empty();
        $("#staff_list").append(
          '<h5 style="color:red" > No Avaialable Staffs </h5>'
        )
      }
      function renderStaffs () { 
        $("#staff_list").empty(); 
        if(staffList.length ===0) { 
          renderNoStaffs()
          return ;
        }
        staffList.forEach((staff) => {
        $("#staff_list").append(
        `<div class="list-group-item list-group-item-action fw-bold d-flex justify-content-between">
         <div> ${staff.staff_name}</div>
               <div>
                <a 
                  href=/staff/delete/${staff._id}
                  style="all:unset ;cursor: pointer; margin-right: 4px" 
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Delete"  
                >
                  <!-- delete icon  -->

                  
                    <img class="icon-fit" src="https://img.icons8.com/ios/50/000000/delete-trash.png"/>
                </a>
                <a 
                  href=/staff/edit/${staff._id}
                  style="all:unset ;cursor: pointer"
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="Edit" 
                >
                  <!-- edit icon  -->
                  <img
                    class="icon-fit"
                    src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/000000/external-edit-interface-kiranshastry-lineal-kiranshastry.png"
                  />
                </a> 
                <a 
                  href=/staff/view/${staff._id}
                  style="cursor: pointer;" 
                  data-bs-toggle="tooltip"
                  data-bs-placement="top"
                  title="View"  
                >
                  <!-- delete icon  -->

                  <img class='icon-fit' src="https://img.icons8.com/ios/24/000000/view-file.png"/>
                </a>    
            </div>
          `
        );
      });
    }
    renderStaffs();
     
      $('#search').submit(async event=>{ 
        event.preventDefault(); 
        const searchField = event.target[1].value ;
        if(!searchField) { 
          alert("Please specify a staff name")
          return ; 
        } 
        try {
          const searchResult = await fetch(`/staff/search?name=${searchField}`,{
            method : 'GET',
            mode: "cors", // no-cors, *cors, same-origin
            cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
            credentials: "same-origin", // include, *same-origin, omit
             headers: {
            "Content-Type": "application/json",
          }
        }) 
         if(searchResult.status ===200) {
          const resultObj = await searchResult.json();
          if(resultObj.length>0) {
            staffList = resultObj;
            renderStaffs();
          }
          else renderNoStaffs();
         }  
        } catch (error) {
          alert(error) ;
        }
      }) 
      async function loadAllStaffs(){
        try {
          const searchResult = await fetch('/staff/search/all',{
            method : 'GET',
            mode: "cors", // no-cors, *cors, same-origin
            cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
            credentials: "same-origin", // include, *same-origin, omit
             headers: {
            "Content-Type": "application/json",
          }
        }) 
         if(searchResult.status ===200) {
          const resultObj = await searchResult.json();
          if(resultObj.length>0) {
            staffList = resultObj;
            renderStaffs();
          }
          else renderNoStaffs();
         }  
        } catch (error) {
          alert(error) ;
        }
      }
    </script>
    <script src="/js/main.js"></script>
  </body>
</html>
